link(rel="import", href="dep/core-ajax/core-ajax.html")
link(rel="import", href="dep/core-localstorage/core-localstorage.html")

polymer-element(name="runner-backend", \attributes="addTrack, tracks, trackToDelete, saveTracks")
  template
    core-ajax( id="saveTracks", url="api/tracks",params="{{tracks}}", method="POST")
    core-ajax( id="getTracks", url="api/tracks",response="{{tracks}}", method="GET", handleAs="json")
    core-localstorage( id="store", name="tracks", value="{{tracks}}")
  script.
    Polymer({
      saveTracks:false,
      domReady:function(){
        this.$.saveTracks.addEventListener("core-response",function(){
          this.fire("runner-tracks-saved");
        },this);
        this.$.saveTracks.addEventListener("core-error",function(){
          this.fire("runner-connection-broken")
        },this);
      },
      addTrack:function(track){
        this.tracks.push(track);
        this.$.store.save();
      },
      trackToDeleteChanged:function(){
        var newTracks = this.tracks.filter(function(track, index){
          return index !== this.trackToDelete;
        }, this);
        this.trackToDelete = null;
        this.tracks = newTracks;
      },
      saveTracksChanged:function(){
        if(!this.saveTracks){return}
        this.fire("runner-tracks-saving");
        this.$.saveTracks.go();
        this.saveTracks = false
      },
      ready:function(){
        this.loadOrDefaultTracks();
      },
      loadOrDefaultTracks:function(){
        this.$.store.load();
        if( !this.tracks ){
          this.$.getTracks.addEventListener("core-response",function(){
            return this.loadTracksFromBackendOrDefault
          }());
          this.$.getTracks.go();
        }
      },
      loadTracksFromBackendOrDefault:function(e){
        var tracks = e.detail.response;
        this.tracks = tracks  || [];
        this.$.store.save();
      }
    })
