link(rel="import", href="lefty-menu-layout.html")
polymer-element(name="welcome-dashed", noscript>)
  template
    lefty-menu-layout(selected="welcome", page-title="HEY")
      p Welcome to the landing page
