html
 head
  script(src="dep/platform/platform.js")

  link(rel="import", href="dep/polymer/polymer.html")
  link(rel="import", href="dep/core-menu/core-menu.html")
  link(rel="import", href="dep/core-item/core-item.html")
  link(rel="import", href="dep/core-icons/core-icons.html")
  link(rel="import", href="dep/core-scaffold/core-scaffold.html")
  link(rel="import", href="dep/core-header-panel/core-header-panel.html")
  link(rel="import", href="dep/core-pages/core-pages.html")
  link(rel="import", href="dep/paper-shadow/paper-shadow.html")
  link(rel="import", href="dep/app-router/app-router.html")

body(fullbleed, unresolved)

  app-router
    app-route(path="/tracks/add", import="add-track.html" )
    app-route(path="/tracks/stats", import="stat-tracks.html" )
    app-route(path="/search", template )
      template
        p not implemented yet
    app-route(path="/", import="welcome-dashed.html" )

  script.
    var routes = [
          {name:"add track", path:"/tracks/add", template:"add-track.html"},
          {name:"tracks stats", path:"/tracks/stats", template:"stat-tracks.html"},
          {name:"tracks search", path:"/tracks/search", template:"search.html"},
          {name:"index", path:"/", template:"welcome-dashed.html"}
        ]
    this.addEventListener("goto",function(event){
      var routeName = event.detail;
      var route = routes.filter(function(route){
        return route.name === routeName;
      });
      location.replace("#"+route[0].path);
    });
